@import 'reset';
@import './lib/filters';
@import './lib/swiper';
@import './variables/global';
@import './themes/normal';
@import './themes/dark';

body {
  overflow: hidden;
  font: var(--font-regular-400);
  color: var(--light-100-color);
  background-color: var(--dark-700-color);
}

.app {
  min-height: 100vh;
}
