.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;

  height: 100%;

  .headerText {
    font-weight: bold;
  }

  .text {
    width: 250px;
    font-style: normal;
    text-align: center;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.textForModal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
