.rootContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  justify-content: center;

  height: calc(100% - 50px);

  text-align: center;
}

.buttonsContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;

  margin-right: 24px;
}
