.flex {
  display: flex;
  gap: 38px;
  margin-bottom: 53px;

  .rightSide {
    flex: 1;

    .main {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .userName {
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;
      }

      .button {
        padding: 6px 36px;
        background: var(--dark-300-color);
      }

      .buttonPrimary {
        padding: 6px 36px;
        background: var(--primary-500-color);
      }

      .buttonSecondary {
        margin-left: 15px;
        padding: 6px 36px;
        background: var(--dark-300-color);
      }
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 23px;

      .subscribe {
        font-weight: 700;
      }

      .subscribeTitle {
        cursor: pointer;
      }

      & div:not(:last-child) {
        margin-right: 72px;
      }
    }
  }
}
