.rootWrapper {
  .title {
    font: var(--font-h1);

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  .input {
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &.confirmation {
      &:not(:last-child) {
        margin-bottom: 36px;
      }
    }
  }

  .button {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .helperText {
    font-size: var(--font-size-medium);
    color: var(--light-900-color);
    text-align: left;
    word-spacing: 4px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .infoText {
    margin-top: 11px;
    margin-bottom: 18px;

    font-size: var(--font-size-regular);
    color: var(--light-100-color);
    text-align: left;
  }

  .error {
    margin-top: 30px;
    color: var(--danger-700-color);
  }

  .recaptcha {
    transform-origin: 0 0;
    transform: scale(1.22);
    margin-top: 20px;
  }
}
