.rootContainer {
  margin-top: 18px;
  margin-bottom: 30px;
  padding: 12px 24px;

  background: var(--dark-500-color);
  border: 1px solid var(--dark-300-color);
}

.optionContainer {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.label {
  font-weight: 600;
}

.option {
  &:not(&:last-child) {
    padding-bottom: 24px;
  }
}

.disabled {
  cursor: not-allowed;
  color: var(--dark-100-color);
}

.iconDisabled {
  cursor: not-allowed;

  path {
    fill: var(--dark-100-color);
  }
}
