.Sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  padding-top: 72px;
  border-right: 1px solid var(--dark-300-color);

  .menu,
  .extra {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }

  .extra {
    margin-top: 60px;
  }

  .link {
    margin-left: 15px;
    font: var(--font-regular-400);

    &:hover,
    &:active {
      color: var(--primary-100-color);
      outline: none;
    }
  }

  .button {
    position: absolute;
    bottom: 25px;
    display: flex;
  }

  .icon {
    transition: fill 0.1s;
  }

  .active {
    color: var(--primary-100-color) !important;

    .icon {
      fill: var(--primary-500-color);
    }
  }

  .item {
    display: flex;
    align-items: center;
    color: var(--light-100-color);

    &:focus {
      border-radius: 2px;
      outline: 2px solid var(--primary-700-color);
    }

    &:active {
      color: var(--primary-100-color);
      outline: none;
    }

    &:hover {
      text-decoration: none;

      .icon {
        fill: var(--primary-100-color);
      }
    }
  }
}
