.cardWrapperClassName {
  width: 50%;
  height: 85vh;
  object-fit: fill;
  border: 1px solid var(--modal-100-color);
  border-right: none;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--modal-100-color);
  width: 50%;
  background: var(--modal-300-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 20px;
  border-bottom: 1px solid var(--modal-100-color);
}

.content {
  flex: 1;
}

.bottomSection {
  padding: 0 20px;
  border-top: 1px solid var(--modal-100-color);
}

.commentSection {
  border-top: 1px solid var(--modal-100-color);
}

.wrapper {
  margin-top: 14px;
}

.actionIcons {
  display: flex;
  flex-direction: column;
  align-self: self-start;
  justify-content: space-between;

  height: 40vh;
  margin-top: 6%;
}
