@import 'app/styles/mixins/mixins';

.field {
  @include flex($direction: column, $justify: flex-start);

  text-align: left;

  .required {
    color: var(--danger-700-color);
  }

  .wrapper {
    @include flex($align: center);

    position: relative;
    border: none;
    border-radius: 2px;

    // standard - variant
    &.standard::before {
      pointer-events: none;
      content: ' ';

      position: absolute;
      right: 0;
      bottom: -1px;
      left: 0;

      height: 1px;
    }

    &.standard:focus-within::before {
      opacity: 0;
    }

    &.standard.error::before {
      background-color: var(--danger-700-color);
    }

    &.error:focus-within {
      outline: 2px solid var(--danger-700-color);
    }

    // outline - variant
    &.outline {
      outline: 1px solid var(--card-entity-bg);

      &.error {
        outline: 1px solid var(--danger-700-color);
      }
    }

    &:focus-within {
      outline: 2px solid var(--primary-700-color);
    }

    &:focus-within.error {
      outline: 1px solid var(--danger-700-color);
    }

    .input {
      width: 100%;
      padding: 8px 0;

      font: var(--font-m);
      font-weight: 400;
      color: var(--light-100-color);
      border-bottom: 1px solid var(--card-entity-bg);

      background: none;

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        background-color: none;
        transition: background-color 5000s ease-in-out 0s;

        -webkit-text-fill-color: var(--light-100-color);
      }

      &.search {
        padding-left: 40px;
        border: none;
        border-radius: 2px;
        outline: 1px solid var(--card-entity-bg);
      }

      &.password {
        padding-right: 40px;
      }

      &.disabled {
        cursor: not-allowed;
        user-select: none;
        color: var(--dark-100-color);
      }
    }

    button {
      @include position(absolute);

      right: 12px;
      width: 24px;
      height: 24px;
    }

    .icon {
      @include position(absolute, 0, 50%, 0, 0);

      transform: translate(50%, 50%);
    }
  }

  .message {
    font-size: 14px;
    color: var(--danger-700-color);
  }
}
