.comments {
    padding: 15px;
    width: 100%;
}

.comment {
    width: 100%;
    display: flex;
    gap: 12px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
}

.content {
    font: var(--font-medium-400);
    display:block;
    width:200px;
    word-wrap:break-word;
}

.userName {
    font: var(--font-medium-700);
}

.time {
    font: var(--font-small-400);
    color: var(--light-900-color);
}

.actionButton {
    font: var(--font-small-600);
    color: var(--light-900-color);
}

.avatarCommentGroup {
    display: flex;
    gap: 12px;
}

.showAnswerButton{
    font: var(--font-small-600);
    color: var(--light-900-color);
    cursor: pointer;
}


