.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 36px;
  padding-right: 36px;
}

.button {
  padding: 6px 36px;
  color: var(--light-300-color);
  background: var(--button-300-color);
}

.actionsWrapper {
  display: flex;
  gap: 15px;
}
