.wrapper {
  display: block;
  margin-bottom: 0.375em;
  padding: 1em;
}

.label {
  font: var(--font-medium-400);
  color: var(--light-900-color);
}

.formsContainer {
  flex: 1;
  width: 100%;
}

// Any additional selector will be increase priority of passed classname
textarea.textarea {
  background: var(--dark-500-color);
  border: 1px solid var(--dark-300-color);
}

.selectContainer {
  display: flex;
  gap: 24px;
}
