.modal {
  width: 50%;
}

.inputWrapper {
  padding: 24px;
}

.input.input.input.input {
  border: 1px solid var(--dark-100-color);
}

.button {
  min-width: 116px;
  color: var(--light-100-color);
}

.loader {
  text-align: center;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
