@import 'app/styles/mixins/mixins';

.mainContainer {
  display: flex;
  height: fit-content;
}

.header {
  @include flex($justify: space-between, $align: center);

  padding: 12px 24px;
  border-bottom: 1px solid var(--dark-100-color);
}

.imgContainer {
  flex: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.profileInfoDescription {
  width: 100%;
}

.profileInfo {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  margin-bottom: 10px;
}

.profileName {
  font: var(--font-regular-700);
}

.profileImg {
  width: 100px;
}

.descriptionContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;
}

.textareaContainer {
  width: 100%;
  font: var(--font-regular-400);
  color: var(--light-900-color);

  textarea {
    min-height: 150px !important;
  }
}

.label {
  font: var(--font-medium-400);
  color: var(--light-900-color);
}

.wrapper {
  align-self: flex-end;
  width: 100%;

  input {
    padding: 0 !important;
    border-bottom: 1px solid var(--dark-100-color);
  }
}
