.rootContainer {
  display: flex;
  flex-direction: column;
}

.tabContainer {
  position: sticky;
  z-index: 2;
  top: 0;

  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 24px;

  background: var(--dark-700-color);
}

.content {
  flex: 1;
}
