.flex {
  display: flex;
  gap: 38px;
  margin-bottom: 53px;

  .rightSide {
    flex: 1;

    .main {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .userName {
        font-size: 20px;
        font-weight: 700;
        line-height: 36px;
        display: flex;
        gap: 10px;
        flex-direction: row;
        align-items: center;
      }
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      gap: 72px;
      margin-bottom: 23px;

      .subscribe {
        font-weight: 700;
      }

      .subscribeTitle {
        cursor: pointer;
      }
    }
  }
}
