.cardsList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .card {
    padding: 36px;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
