.controls {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  margin-left: 15px;
}

.icon_button {
  position: absolute;
  bottom: 0;

  width: 36px;
  height: 36px;

  background-color: rgba(#171717, 0.8);
}

%transition {
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition-duration: 100ms;
  transition-property: all;
}

.enterForm,
.leaveTo {
  transform: scale(0.95);
  opacity: 0;
}

.enterTo,
.leavefrom {
  transform: scale(1);
  opacity: 100;
}

.leave {
  @extend %transition;

  transition-duration: 75ms;
}

.menu_items {
  position: absolute;
  bottom: -120px;
  transform: translateY(-100%);

  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 150px;
  padding: 15px;

  color: var(--light-900-color);

  background-color: rgba(#171717, 0.8);

  fill: var(--light-900-color);
  stroke: var(--light-900-color);
}

.menu_item {
  display: flex;
  justify-content: space-between;
}

.menu_item_active {
  color: var(--light-100-color);
  fill: var(--light-100-color);
  stroke: var(--light-100-color);
}
