.dropDownContainer {
  box-sizing: border-box;
  width: 100%;
}

.labelClassName {
  font: var(--font-medium-400);
  color: var(--light-900-color);
}

.icon {
  width: 25px;
  fill: var(--light-900-color);
}

.dropDownHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.4em 0.4em 0.4em 1em;

  font: var(--font-medium-400);
  color: var(--light-900-color);

  background-color: var(--dark-700-color);
  border: 1px solid var(--dark-100-color);
  border-radius: 2px;

  &:hover {
    border: 1px solid var(--light-900-color);
  }

  &:active {
    color: var(--light-100-color);
    background-color: var(--dark-500-color);
    border: 1px solid var(--light-100-color);

    .Icon {
      fill: var(--light-100-color);
    }
  }
}

.disabled {
  cursor: default;
  color: var(--dark-100-color);
  background-color: transparent;
  border: 1px solid var(--dark-100-color);

  &:hover {
    border: 1px solid var(--dark-100-color);
  }

  &:active {
    color: var(--dark-100-color);
    background-color: transparent;
    border: 1px solid var(--dark-100-color);
  }
}

.disabled.Icon {
  display: none;
}

.active {
  border: 1px solid var(--light-100-color);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  &:hover {
    border: 1px solid var(--light-100-color);
  }
}

.dropDownList {
  scrollbar-width: none; /* Firefox */

  overflow-y: auto;

  box-sizing: border-box;
  margin: 0;
  height: 150px;

  font: var(--font-medium-400);
  color: var(--light-900-color);

  background-color: var(--dark-500-color);
  border: 1px solid var(--light-100-color);
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;

  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    display: none;
  }
}

.listItem {
  padding: 0.4em 1em;
  list-style: none;
}

.activeListItem {
  cursor: pointer;
  color: var(--primary-500-color);
  background-color: var(--dark-300-color);
}
