:root {
  // .app.light
  // custom color
  --secondary-color: #0449e0;
  --accent-color: #d8d8d8;
  --accent-100-color: #4c4c4c;

  //text-color
  --text-100-color: #f7fbff;
  --text-300-color: #f7fbff;
  --text-500-color: #EDF#FA;
  --text-700-color: #d5dae0;
  --text-900-color: #bdc1c7;

  //modal
  --modal-100-color: #4c4c4c;
  --modal-300-color: #fff;

  //button
  --button-300-color: #d8d8d8;
  --button-600-color: #4c4c4c;

  // skeleton
  --skeleton-color: #d9d9ff;
  --skeleton-shadow: #a6a6ff;

  // light color theme palette
  --light-100-color: #000;
  --light-300-color: #333;
  --light-500-color: #171717;
  --light-700-color: #0d0d0d;
  --light-900-color: #000;

  // dark
  --dark-color: #000;
  --dark-100-color: #fff;
  --dark-300-color: #000;
  --dark-500-color: #d8d8d8;
  --dark-700-color: #fff;
  --dark-900-color: #d4d8de;

  // accent
  --primary-100-color: #8c9eff;
  --primary-300-color: #536dfe;
  --primary-500-color: #3d5afe;
  --primary-700-color: #2f68cc;
  --primary-900-color: #213e9e;

  // success
  --success-100-color: #b2ff59;
  --success-300-color: #76ff03;
  --success-500-color: #64dd17;
  --success-700-color: #43a047;
  --success-900-color: #1b5e20;

  // warning
  --warning-100-color: #ffe082;
  --warning-300-color: #ffb300;
  --warning-500-color: #ffa000;
  --warning-700-color: #f57c00;
  --warning-900-color: #e65100;

  // danger
  --danger-100-color: #ff8a80;
  --danger-300-color: #ff5252;
  --danger-500-color: #ff1744;
  --danger-700-color: #d50000;
  --danger-900-color: #b71c1c;
}
