.tab {
  cursor: pointer;

  min-width: 17vw;
  padding: 6px 45px;

  font-size: var(--font-line-small);
  font-weight: 600;
  color: var(--dark-100-color);
  text-align: center;

  border: none;
  border-bottom: 1px solid var(--dark-100-color);

  transition: ease-in-out 0.34s;
}

.selectedTab {
  color: var(--primary-500-color);
  border-bottom: 1px solid var(--primary-500-color);
}
