@import 'app/styles/mixins/mixins';

.icon {
  transition: fill 0.5s;
}

// .react-datepicker__day.react-datepicker__day--today {
//     border: 2px solid green !important;
// }

.calendarContainer {
  @include flex(row, space-between, flex-start);
  border: 1px solid var(--modal-100-color);

  position: relative;

  width: 100%;
  height: 36px;
  padding: 6px 12px;

  background-color: var(--dark-500-color);

  > :nth-child(2) {
    > :nth-child(2) {
      position: absolute !important;
      top: 26px !important;
      left: 0 !important;
      transform: none !important;
    }
  }

  & > :nth-child(2) > :nth-child(2) > div > div {
    border: 1px solid var(--dark-300-color);
    border-radius: 0.3rem;

    > :nth-child(1) {
      display: none;
    }

    > :nth-child(3) {
      > :nth-child(1) {
        background-color: var(--dark-500-color);
        border: none;

        > :nth-child(2) > * {
          color: var(--light-100-color);
        }
      }

      > :nth-child(2) {
        margin: 0;
        background-color: var(--dark-500-color);
        border: none;
      }
    }
  }

  .day {
    color: var(--light-100-color);
    background-color: var(--dark-500-color);

    &:hover {
      background-color: var(--primary-500-color);
      border: 2 px solid var(--primary-900-color);
      border-radius: 50%;
    }

    &:global(.react-datepicker__day--selected) {
      position: relative;

      align-self: center;

      width: 1.6rem;
      height: 1.6rem;

      color: var(--light-100-color);

      background-color: var(--primary-500-color);
      border-radius: 50%;
      box-shadow: 0 0 0 2px var(--primary-900-color);
    }

    &:global(.react-datepicker__day--disabled) {
      pointer-events: none;
      color: var(--dark-100-color);
    }

    &:global(.react-datepicker__day--weekend) {
      color: var(--danger-500-color);
    }

    &:global(.react-datepicker__day--outside-month) {
      pointer-events: none;
      color: var(--dark-100-color) !important;
    }
  }
}

.libCalendar {
  width: 75%;
  color: var(--light-100-color);
  background-color: transparent;
}

// error

.calendarContainerError {
  border: 1px solid var(--danger-700-color);
}

.libCalendarError {
  color: var(--danger-700-color);
}

.errorBlockInfo {
  display: flex;
  gap: 1px;
  align-items: flex-end;
  color: var(--danger-700-color);

  a {
    color: var(--danger-700-color);
  }
}
