.Header {
  box-sizing: border-box;
  height: var(--header-height);
  padding: 12px 0;

  background: var(--dark-700-color);
  border-bottom: 1px solid var(--dark-300-color);

  transition: background-color 0.5s;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
  }

  .icon {
    fill: #fff;
  }

  .button {
    display: flex;
    gap: 15px;
    font: var(--font-medium-500);
  }

  .headerText {
    font: var(--font-large);
    color: var(--light-color);
    text-decoration: none;
  }

  .rightBlock {
    display: flex;
    gap: 48px;
  }
}
