.wrapper {
  border-collapse: collapse;
  max-width: 972px;
}

.head {
  min-height: 48px;
  background: var(--dark-500-color);
}

.tableHeaderCell {
  padding: 12px 48px 12px 24px;

  font-size: 14px;
  font-weight: 600;
  text-align: left;

  border-bottom: 1px solid var(--dark-500-color);
}

.tableRowItem {
  cursor: auto;
  border-right: 1px solid var(--dark-500-color);
  border-bottom: 1px solid var(--dark-500-color);
  border-left: 1px solid var(--dark-500-color);
}

.tableCell {
  padding: 12px 48px 12px 24px;
  font-size: 14px;
  font-weight: 400;
}
