@import 'app/styles/mixins/mixins';

.container {
  @include flex(row, space-between, center);

  width: 100%;
  margin-top: 10px;
}

.left_group {
  @include flex(row, flex-start, center);

  flex: 11;
  gap: 5%;
}
