.container {
  display: flex;
  gap: 12px;
}

.avatars {
  direction: rtl;
  padding-left: 10px;
  text-align: left;
}

.avatar {
  position: relative;
  z-index: 1;
  margin-left: -10px;
}

.likes {
  font: var(--font-medium-400);
  color: var(--light-100-color);
}
