.container {
  padding: 12px 24px;
  background: var(--dark-500-color);
  border: 1px solid var(--dark-300-color);
}

.label {
  font-weight: 600;
}

.section {
  display: flex;
  gap: 48px;

  &:last-child {
    padding-top: 12px;
  }
}

.checkboxContainer {
  display: flex;
  gap: 8px;
  margin-top: 13px;
  margin-bottom: 17px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 80%;
  padding: 0 24px;
}

.bottomBlock {
  display: flex;
  gap: 54px;
  align-items: center;
  justify-content: flex-end;

  margin-bottom: 12px;

  svg {
    cursor: pointer;
    fill: var(--accent-color);
  }
}
