.container {
    background: var(--dark-500-color);
    border: 1px solid var(--dark-300-color);
    padding: 12px 24px;
}

.label {
    font-weight: 600;
}

.section {
    display: flex;
    gap: 48px;

    &:last-child {
        padding-top: 12px;
    }
}

.checkboxContainer {
    display: flex;
    gap: 8px;
    margin-top: 13px;
    margin-bottom: 17px;
}

.checkbox {
    width: 24px;
    height: 24px;
    accent-color: var(--light-100-color);

    &:disabled {
        cursor: not-allowed;
    }
}

.modal {
    display: flex;
    padding: 0 24px;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
}

.bottomBlock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 54px;
    margin-bottom: 12px;
}
