.description {
  display: flex;
  padding: 5px 0;
  gap: 5px;

  .rightBlock {
    margin-left: 5px;
    max-width: 445px;
    .headerTitle {
      margin-right: 12px;
      font-weight: bold;
    }

    .title {
      overflow-wrap: break-word;
    }

    .lessMore {
      cursor: pointer;
      margin-top: 5px;
      font: var(--font-regular-500);
      color: var(--light-900-color);
    }
  }
}
