.description {
    display: flex;
    align-items: start;
}

.headerTitle {
    margin-right: 12px;
}

.rightBlock {
    margin-left: 12px;
}


.lessMore {
    color: var(--light-900-color);
    font: var(--font-regular-500);
    margin-top: 5px;
    cursor: pointer
}
