.description {
  display: flex;
  align-items: start;
}

.headerTitle {
  margin-right: 12px;
}

.rightBlock {
  margin-left: 12px;
}

.lessMore {
  cursor: pointer;
  margin-top: 5px;
  font: var(--font-regular-500);
  color: var(--light-900-color);
}
