.Modal {
    width: 380px;

    .content{
        padding: 30px 24px;
        display: flex;
        flex-direction: column;

        .flex {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .error {
            color: var(--danger-500-color);
            padding-top: 10px;
        }

        .button{
            margin: 0 auto;
            margin-top: 18px;
            width: 219px;
            height: 36px;
        }
    }
}






