@import 'src/app/styles/mixins/mixins';

.AppLink {
  display: inline-flex;
  color: var(--light-100-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  fill: var(--light-100-color);
}

.active {
  color: var(--primary-500-color);
  fill: var(--primary-500-color);
}
