.container {
  position: relative;

  display: flex;
  justify-content: center;

  width: min(1000px, 80vw);
  padding-top: 40px;
}

.closeIconContainer {
  position: absolute;
  top: 0;
  right: 8px;
  text-align: center;
}

.iconContainer {
  align-self: center;

  padding: 4px 6px 2px;

  text-align: center;

  background: var(--dark-300-color);
  
  transition: background 0.3s ease;

  &:hover {
    background: var(--dark-100-color);
  }
}

.backIconContainer {
  margin-right: 10px;

  &:active {
    transform: scale(0.9);
  }
}

.nextIconContainer {
  margin-left: 10px;

  &:active {
    transform: scale(0.9);
  }
}
