.container {
  position: relative;

  display: flex;
  justify-content: center;

  width: min(1000px, 80vw);
  padding-top: 40px;
}

.closeIconContainer {
  position: absolute;
  top: 0;
  right: 8px;
  text-align: center;
}

.nextIconContainer {
  align-self: center;

  margin-left: 10px;
  /* stylelint-disable-next-line shorthand-property-no-redundant-values */
  padding: 4px 6px 2px 6px;

  text-align: center;

  background: var(--dark-300-color);
}
